@import "bootstrap";

#submit-item {
    margin-top: 25px;
}

#list-item {
    li {
        &:hover {
            cursor: pointer;
        }
    }
}

.item-done {
    text-decoration: line-through;
}
